
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 3em;
  margin-left: 1rem;
  margin-top: 1vw;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.stackContainer {
  margin-top: 1vw;
}

.mountains {
  width: 100%;
  max-width: 30vw;
  filter: brightness(0) invert(1);
}

.mountainContainer {
  display: flex;
  align-items: flex-end;
  justify-content:  center;
  height: 100%;
  background-color: rgb(67, 151, 151);
  top: 0;
  position: fixed;
  z-index: -1;
}

.landing {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto;
  overflow: hidden;
}

.flip{
  filter: brightness(0) invert(1);
}

.left {
  
  border: 15px solid black;

}
.mail {
  color: black;
}
