.carouselcaption {
    background: rgba(0, 0, 0, 0.356);
    color: rgb(255, 255, 255);
}

.portfolioImg {
    width: 100%;
}
.card {
    border: none;
    height: 40vh;
    overflow: hidden;
}

.cardHide{
    border: none;
}